@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --product-gradient: #111;
}

body {
  background: var(--product-gradient);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Scrollbar Hiding */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::selection {
  background-color: #D1D5DB; /* bg-gray-300 */
  color: #ffffff;
}
